<style>
    .footer {
        margin: 0 !important;
    }
    .outer p {
        width: 100%;
        text-align: center !important;
    }
    .footer
    .info_img {
        height: 300px;
        width: 300px;
    }
</style>

<footer class="footer container-fluid">
    <img src="/images/brand.png" class="info_img d-block m-auto"/>
    <hr style="background-color: #ccc;"/>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-4">
            <h4>About</h4>
            <ul>
                <li>Services</li>
                <li>Blog</li>
                <li>Vehicles</li>
                <li>Team</li>
                <li>CEO</li>
            </ul>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <h4>Careers</h4>
            <ul>
                <li>Mechanic</li>
                <li>Electrical</li>
                <li>Electronics</li>
                <li>Management</li>
                <li>Human Resource</li>
                <li>Web Developer</li>
            </ul>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
            <h4>Branches</h4>
            <ul>
                <li>Calamba, Laguna (Main)</li>
                <li>Taguig</li>
                <li>Pasay</li>
                <li>Pasig</li>
                <li>Pateros</li>
                <li>Manila City</li>
            </ul>
        </div>
    </div>
    <div class="row outer">
        <p>
            <small>All rights reserved. @2022</small>
        </p>
    </div>
</footer>